# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.context.json
cdk.out

cdk_settings.json

# testing
coverage/

# production
/build
dist

# misc
.DS_Store
.temp
.history
.vscode
!.vscode/settings.json
.idea/
.pem

# node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.webpack

# Serverless directories
.serverless
.nyc_output

**/pact/logs
**/pact/pacts
**__pycache**
*.pyc
/*/*/kedro-env/
.venv
.pytest_cache
